.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: #343a40;
  color: #fff;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
