.form-container {
  max-width: 50%;
  margin: 5rem auto;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  label {
    color: lightslategrey;
  }

  input {
    border: 1px solid rgb(213, 222, 231);
    width: 100%;
    border-radius: 5px;
    padding: 0.75rem;
    outline: silver;
  }

  button {
    background-color: rgb(14, 189, 174);
    color: azure;
    border: cadetblue;
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.5rem;

    &:hover {
      background-color: rgba(14, 189, 174, 0.74);
      color: #343a40ce;
    }
    a {
      text-decoration: none;
    }

    a:hover {
      color: #49c1a2;
    }
  }
}
