.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #343a40;
  color: #fff;
  font-weight: 500;

  a {
    text-decoration: none;
    vertical-align: middle;

    &:visited {
      color: seashell;
    }
    &:hover {
      color: silver;
    }
  }

  .container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    padding: 0.2em;
    align-items: baseline;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    ul {
      display: flex;
      flex-direction: row;
      float: right;

      li {
        list-style: none;

        a {
          padding: 1.2em;
          text-decoration: none;
          vertical-align: middle;
          color: #fff;

          &:visited {
            color: seashell;
          }

          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }
}
